  .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }
          .carousel-indicators .active {
          background-color: blue;
            }
          .col-md-3 img{
          width:100%;
          height:auto;
          }
         .carousel-indicator li{
          background-color: blue;
          }
          .carousel-indicators{
          bottom: 0;
          }
          .carousel-control-prev-icon,
         .carousel-control-next-icon{
          background-color: blue;
          }
          .no-padding{
           padding-left: 0,
           padding-right: 0;
           }