{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} Evening_Walk {% endblock %}
{% block body %}

<div class="row">
	<div class="col-sm-12">
 <img class="img-fluid" src="{% static 'shop/images/running2.jpg' %}" alt="Los Angeles" width="100%" height="100%"></div>
</div>
<div class="container">
	<p class="text-justify">It’s one of those statements you’ve probably heard time and time again: The best time to exercise is in the morning. It makes sense: You get it done before your day gets too busy or other obligations arise. But while a.m. workouts might be best for some people, others just can’t get themselves to hop out of bed bright and early and squeeze in a trip to the gym before work. For them, a nighttime sweat session might be more appealing. And despite the commonly-held belief that late workouts can leave exercisers feeling too amped to rest, it seems p.m. activity doesn’t necessarily equate to disturbed sleep.</p>
	<h3>THE BENEFITS OF EVENING EXERCISE</h3>
	<p class="text-justify"><span class="text-danger">New research from Australia</span> found that early evening exercise—even when it’s something energizing like high-intensity interval training—doesn’t impact sleep. Participants who worked out between 7 p.m. and 8 p.m. slept the same amount that night as when they exercised in the morning or afternoon. Interestingly, the early evening workouts also resulted in a reduction of the hormone ghrelin, which is related to appetite. So not only could you still snooze as well as ever, but you might even feel less inclined to over-indulge at dinner.</p>
	<h3>Tips For Sticking To Your Late-Night Workout</h3>
	<ol>
		<li><h5>LEAN ON INTRINSIC MOTIVATION</h5>
		<p class="text-justify">
			All that is great news for people who hate morning workouts—but there’s still one hurdle to overcome: You have to make sure you actually stick to your plan of exercising after a long day of work. That’s where intrinsic motivation comes in. “Think about why exercise is important to you—maybe it’s that you want to be active with your kids or live long enough to see your grandchildren, maybe it makes you happier and a better partner,” says Eddie O’Connor, PhD, a clinical sports psychologist based in Grand Rapids, Michigan. “Knowing why exercise is worth it helps you consistently choose it over anything else.”
		</p>	
		</li>

		<li><h5>COMMIT TO YOUR HEALTHY HABIT</h5>
			<p class="text-justify">You also need to stop relying on willpower because it just doesn’t work as well at the end of the day. “You tap into your willpower all day long, so you just have less of it later in the day,” says Dr. O’Connor. “Don’t tell yourself you’re going to see how you feel after work, because you’ll never feel like working out. Instead, come up with a commitment ahead of time—maybe working out Monday, Wednesday, and Friday at 5pm no matter what.” By scheduling it and seeing those workouts as a given, you won’t feel like it’s a choices you have to force yourself to make.</p>
		</li>

		<li><h5>FIND A TIME SLOT THAT LIMITS EXCUSES</h5>
			<p class="text-justify">The other trick is to link your workouts to another event. “I found a class right after work and to make it on time I have to go immediately from my office to the gym,” says Dr. O’Connor. “If I go home first, the TV will be on and I’ll see my kids, and I may not want to leave. So I linked leaving work with heading to the gym, which is a critical component of making this a habit.” With these tools—and the relief from knowing that a later workout may not  force you to toss and turn for hours—even the biggest night owls can turn into routine exercisers.</p>
		</li>
	</ol>
</div>
{% endblock %}
