<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
</head>
<body>
        <body>
                <div class="py-5">
                  <div class="container">
                    <div class="row hidden-md-up">
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                            <a href="#" class="card-link">link</a>
                            <a href="#" class="card-link">Second link</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                            <a href="#" class="card-link">link</a>
                            <a href="#" class="card-link">Second link</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                            <a href="#" class="card-link">link</a>
                            <a href="#" class="card-link">Second link</a>
                          </div>
                        </div>
                      </div>
                    </div><br>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                            <a href="#" class="card-link">link</a>
                            <a href="#" class="card-link">Second link</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                            <a href="#" class="card-link">link</a>
                            <a href="#" class="card-link">Second link</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                            <a href="#" class="card-link">link</a>
                            <a href="#" class="card-link">Second link</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
                <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
              </body>




</body>
</html>