{% extends 'shop/basic.html' %}
{% block title %}Zym's Benefits{% endblock %}
{% load static %}
{% block body %}

<div style="background: linear-gradient(to bottom, #051937 0%, #A8EB12 100%);">
<div class="container jumbotron mb-n1">
<h1 class="text-center pt-3">WHY YOU'LL BENEFIT FROM JOINING THE GYM</h1>
<p>We’ve all started a new year off with a fitness resolution haven’t we? “This year I’m going to get fitter” or “This year I’m going to exercise more”. But saying it and doing it are two different things! 
</p>

<ol style="list-style: order;">
	<li><strong><i>Huge health benefits:</i></strong>
		<p>It’s clear, but we’ll mention it anyway – going to the gym is good for your health and fitness! Put simply, during exercise we increase our cardiovascular fitness through strengthening our heart and lungs and we increase our strength through creating lean muscle. The Australian Government Department of Health recommends five hours of moderate exercise per week, including muscle strengthening activities at least twice per week. </p><br/>

	<p>Studies show that regular exercise and an increase in strength and cardio fitness levels can help <a style="color: red;" href="https://www1.health.gov.au/internet/main/publishing.nsf/Content/health-pubhlth-strateg-phys-act-guidelines#apaadult" target="_blank"> reduce the risk of health concerns and diseases,</a> </p>
	<ul style="list-style: disc;">
		<li>Heart disease</li>
		<li>High blood pressure</li>
		<li>High cholesterol </li>
		<li>Diabetes (type II)</li>
		<li>Depression</li>
		<li>Stress related illnesses </li>
	</ul>
	</li><br/>
	<li><strong><i>Access to equipment</i></strong>
	<p class="text-justify">The gym is a great way to be social and meet like-minded people. Group fitness classes will help you work towards your goals and are a fun way to make friends. You might find someone who loves Body Pump just as much as you! Once you connect with someone at your fitness level and appoint them as your official training buddy, you'll be able to team up and try these partner workouts for maximum results. 
</p>


	</li>
	<li><strong><i>Make friends:</i></strong>
	<p class="text-justify">
		The gym is a great way to be social and meet like-minded people. Group fitness classes will help you work towards your goals and are a fun way to make friends. You might find someone who loves Body Pump just as much as you! Once you connect with someone at your fitness level and appoint them as your official training buddy, you'll be able to team up and try these partner workouts for maximum results. 
	</p>
	</li><br/>

	<li><strong><i>Access to knowledge:</i></strong> 
	<p class="text-justify">
		Goodlife Health Clubs have qualified, experienced personal trainers (many with health and sports-related degrees) on hand who can advise you on the best exercises and workouts for reaching your goals. They can give you individualised direction for your workouts in the gym, keeping you safe and motivating you along the way too. 
	</p>
	</li><br/>

	<li><strong><i>Establish a healthy routine:</i></strong> 
	<p class="text-justify">
		One of the hurdles in committing to a gym membership is justifying the cost and how much you will use it. It’s easy to establish a healthy routine with a gym membership when you have the use of facilities regardless of rain, hail or shine outside. There’s no soggy ground to worry about, no dogs to hurdle when running and no risk of heat exhaustion on summer days. So flip that financial hurdle into a motivator, establish a routine and you’ll create a new healthy habit well worth the investment in no time.
		
	</p>
	</li><br/>

	<li><strong><i>Increased energy levels:</i></strong> 
	<p class="text-justify">
		One of the side effects of exercise is an increase in energy levels and enhanced mood, due to the release of natural, happy endorphins. There’s no better feeling than leaving the gym after a workout feeling energised and ready for whatever the day throws at you. If you’re looking for an extra spring in your step, it’s a great benefit of joining a gym! 

	</p>
	</li><br/>

	<li><strong><i>Be challenged:</i></strong>
	<p class="text-justify">
		If you’re looking for a fitness challenge, look no further! The Goodlife 12 Week Challenge and shorter 8 Week Challenge both offer a targeted exercise and nutrition program to help you achieve long-term and life-changing results. Goodlife gyms also have one of the biggest group fitness class offerings including 30 minute functional workout class - Emily Skye Ignite and the latest fitness trend fusing Pilates, yoga and dance - Bootybarre. 
	</p>
	</li><br/>

	<li  class="pb-3 mb-n3"><strong><i>Be motivated:</i></strong>
		<p class="text-justify">
			You either love exercise or you have to drag yourself along to get it done! If you’re one of the latter, heading to the gym and being around others who are in the same situation as you can be just the incentive and motivation you need to keep going. You might even find yourself converting into an exercise lover when you’re heading to the gym on a more regular basis, hitting your fitness goals and seeing results on the inside and out!

		</p>
	</li>
</ol>
</div>
</div>
{% endblock %}